name: Emscripten

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mymindstorm/setup-emsdk@v11
        with:
          version: 3.0.0
          actions-cache-folder: 'emsdk-cache'
      - name: Verify
        run: emcc -v
      - name: Compile
        run: |
          mkdir build
          pushd build
          emcmake cmake .. -DSPLIT_STORAGE=1
          emmake make
          popd
      - name: Create assets
        run: |
          chmod +x storage/create.sh
          storage/create.sh
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: out
          single-commit: true