name: Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Unzip ASSIMP
      shell: bash
      run: unzip dependencies/win_amd64_static/assimp-vc142-mt.zip -d dependencies/win_amd64_static/
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    - name: Create out
      shell: bash
      run: |
        mkdir out
        cp build/Release/GrafikaKomputerowa.exe out/
        cp -R assets out/
    - uses: actions/upload-artifact@v4
      with:
        name: GrafikaKomputerowa
        path: out/
